<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Digital Sommelier</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="purple lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">UWA DAB Project 3 - Machine Learning</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Cohort 2 (August 2020 to February 2021)</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Cohort 2</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center purple-text">Digital Sommelier</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the Quality of your wine using two different Machine Learning Models
        <br>
        </h5>
      </div>
              <div class="row">
    <form action='/predict' method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="volatile_acidity"><b>Volatile Acidity (0.01 to 2)</b></label>
            <br>
          <input type="number" id="volatile_acidity" name='volatile_acidity' class="validate">
        </div>
        <div class="input-field col s4">
          <label for="residual_sugar"><b>Residual Sugar (0.1 to 70)</b></label>
            <br>
          <input type="number" id="residual_sugar"  name="residual_sugar" class="validate">
        </div>
        <div class="input-field col s4">
            <label for="chlorides"><b>Chloride Content (0.01 to 1)</b></label>
            <br>
          <input type="number" id="chlorides" name="chlorides" class="validate">
        </div>
        <div class="input-field col s4">
            <label for="relative_density"><b>Relative Density (0.1 to 1.1)</b></label>
            <br>
          <input type="number" id="relative_density" name="density" class="validate">
        </div>
        <div class="input-field col s4">
            <label for="pH"><b>pH (0 to 11)</b></label>
            <br>
          <input type="number" id="pH" name="pH" min="0" max="11" class="validate">
        </div>
        <div class="input-field col s4">
            <label for="sulphates"><b>Sulphate Content (0.1 to 3)</b></label>
            <br>
          <input type="number" id="sulphates" name="sulphates" class="validate">
        </div>
        <div class="input-field col s4">
            <label for="alcohol"><b>Alcohol Content (0 to 20)</b></label>
            <br>
          <input type="number" id="alcohol" name="alcohol" class="validate">
        </div>
      </div>
      <div class="row center">
          <button type="submit" class="btn-large waves-effect waves-light purple">Predict Wine Quality</button>
      </div>
    </form>
      </div>
      <br><h4 align="center"<b>{{pred}}</b></h4>
        <br>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
      Project by <a href"https://www.linkedin.com/in/warren-villarosa-12b31636">Warren Villarosa</a>
      <br>
        <b>Both Models were created using data from:</b><br>
        <b><i>P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis.</i></b><br>
        <i>Modeling wine preferences by data mining from physicochemical properties.<br> 
        In Decision Support Systems, Elsevier, 47(4):547-553, 2009.</i>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  </body>
</html>